/* Header */
.site-header {
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 1fr;
    background-color: $primary-middle;
    color: $inverted-text-color;
    padding: 0 2em;
    align-items: center;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
}

.site-header a,
.site-header a:visited {
    color: $inverted-text-color;
    font-family: Montserrat, Helvetica, sans-serif;
    text-decoration: none;
}

.site-header a:hover,
.site-header a:active {
    background: none;
    text-decoration: none;
    color: $base-text-color;
}



nav {
    padding: 0.3em 0;
    text-align: left;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 1em;
    padding: 0;
    font-weight: bold;
}



.language-picker {
    position: absolute;
    top: 0;
    background-color: $primary-middle;
    border-style: solid;
    border-color: $inverted-text-color;
    border-radius: 0.4rem;
    text-align: center;
    margin-left: 0;
    padding: 0.2rem 2rem;
    width: 10rem;
}

.language-picker > li:first-child {
    display: block;
}

.language-picker > li:not(:first-child) {
    display: none;
}

.language-picker-wrapper:hover > .language-picker {
    border-color: $base-text-color;
}

.language-picker-wrapper:hover > .language-picker > li {
    display: block;
}

.language-picker > li > a,
.language-picker > li > a:visited {
    color: $inverted-text-color;
}

.language-picker > li > a:hover {
    color: $base-text-color;
}
