.photo-list {
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-left: 0;

    li {
        margin: 0 1rem 2rem;
    }
}

.photo-list-image {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.photo-list-figure {
    max-width: 90vw;
    margin: 0;
    border: solid 0.1rem $base-text-color;
    padding: 1rem;
    border-radius: 1rem;
}

.photo-list-caption {
    max-width: 100%;
    word-wrap: break-word;
}

.photo-user-list {
    width: 95%;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
} 

.photo-user-list-link {
    display: flex;
    flex-flow: column nowrap;
    text-decoration: underline;
    color: $inverted-text-color;
    text-align: center;
    padding: 0.2rem 0.4rem;
    margin: 0 1rem 3rem;
    background-color: $primary-middle;
    max-width: 50vw;
    border-radius: 1rem;
}

.photo-user-list-link:hover,
.photo-user-list-link:focus,
.photo-user-list-link:active {
    color: $black;

    .photo-user-list-portrait {
        border-color: $black;
        box-shadow: 0 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    }
}

.photo-user-list-name {
    margin-bottom: 0.2rem;
}

.photo-user-list-portrait {
    border-style: solid;
    border-width: 0.2rem;
    border-color: #fff;
    transition: all 0.5s;
}

@media only screen and (min-width: $media-width-max-small-screen) {
    .photo-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .photo-user-list {
        width: 95%;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 

    .photo-list-figure {
        max-width: 30vw;
    }
}